/* İçerik genel ayarları */
.content {
    padding: 40px;
    text-align: center;
}

/* Başlık */
#location-heading {
    font-size: 36px;
    padding-bottom: 40px;
}

/* Restoran kutu ayarları */
.restaurant-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 30px;
}

.restaurant-box {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}

.restaurant-box img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.restaurant-box h2 {
    font-size: 24px;
    margin: 10px 0;
}

.restaurant-box p {
    font-size: 16px;
    color: #555;
}
