body {
    margin: 0;
    height: 100vh;
    background: url('./image/araba.jpg') no-repeat center center / cover;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 900px;
    margin-top: 200px;
    margin-left: 350px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
}

.form-box {
    width: 45%;
    padding: 20px;
    text-align: center;
}

.form-box h2 {
    font-size: 25px;
    color: #3F51B5;
    margin-bottom: 20px;
}

.txt {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #CDDC39;
    border-radius: 30px;
    box-sizing: border-box;
}

.giris-btn, .signup-btn {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #3F51B5;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
}
