<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/kullanici.css">
    <title>Sayfa Tasarımı</title>
</head>
<body>
    <div class="page-background"></div> <!-- Arka planı kaplayan div -->
    <!-- Topbar -->
    <div class="topbar">
        <link rel="stylesheet" href="../public/css/style.css">
        <!-- Sol Taraf: Bağış yap metni -->
        <div class="left">
            <a href="index.html" class="donate-text">askıda iyilik var</a>
        </div>

        <!-- Sağ Taraf: Giriş yap ve Kayıt ol butonları -->
        <div class="right">
            <a href="kullanici.html" class="login">Giriş Yap</a>
            <a href="kayit.html" class="register">Kayıt Ol</a>
        </div>
    </div>

    <!-- Arka Plan Fotoğraf ve İçerik -->
    <div class="background-container">
        <div class="hover-box" onclick="window.location.href='bagiscigiris.html';">
            <p>BAĞIŞÇI</p>
        </div>
        <div class="hover-box" onclick="window.location.href='isletmegiris.html';">
            <p>İŞLETME</p>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
