/* İletişim sayfası düzenlemeleri */
.contact-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 40px;
    padding-right: 50px;
}

.contact-heading,
.form-title,
.mandatory-text {
    margin-left: 20px;
}

/* Form yapısı */
.form-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 2;
    padding-right: 60px;
    
}

/* Form alanları */
.contact-form input,
.contact-form textarea {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: gray;
    padding: 25px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    color: black;
    outline: none;
    background-color: white;
}

/* Gönder Butonu */
.submit-btn {
    padding: 10px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: darkred;
}

/* Placeholders renk ayarları */
::placeholder {
    color: grey;
    opacity: 0.8;
}
.contact-info {
    flex: 1; /* Sağ sütun 1/3 alan kaplayacak */
    background-color: red; /* Kutu arka plan rengi */
    color: white; /* Font rengi */
    padding: 15px;
    border-radius: 8px;
    margin-left: 20px; /* Sol sütun ile arası */
}

.contact-info-title {
    font-size: 35px; /* Başlık boyutu */
    margin-bottom: 5px; /* Başlık ile içerik arası boşluk */
    text-align: left;
    padding-bottom: 5px;
}

.contact-info-description {
    font-size: 16px; /* Açıklama boyutu */
    margin-bottom: 20px; /* Açıklama ile sonraki bilgi arası boşluk */
    text-align: left;
    padding-top: 5px;
}

/* İletişim Bilgileri için simgeler ve içerik */
.contact-info-item {
    display: flex;
    align-items: left; /* İkon ve metin hizalaması */
    margin-bottom: 30px; /* Bilgiler arasında boşluk */
}

.contact-info-item i {
    margin-right: 10px; /* İkon ile metin arası boşluk */
}
.contact-info-address{
    text-align: left;
    padding-top: 10px;
}
.contact-info-phone{
    text-align: left;
    padding-top: 5px;
}
.contact-info-email{
    text-align: left;
    padding-top: 5px;
}
.contact-info-address,
.contact-info-phone,
.contact-info-email {
    font-size: 14px; /* Metin boyutu */
    color: white; /* Yazı rengi */
}