/* Üstteki fotoğraf ve başlık */
.about-header {
    position: relative;
    width: 100%;
    height: 300px; /* Fotoğraf yüksekliği artırıldı */
    overflow: hidden;
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
   
}

/* SSS İçerik Kutucukları */
.faq-container {
    padding: 20px 30px;
}

.faq-box {
    background-color: #F0F3FF; /* Başlangıç rengi */
    color: #3F51B5; /* Yazı rengi */
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer; /* İmleç değişikliği */
    position: relative;
    display: flex;
    flex-direction: column; /* Dikey hizalama */
    transition: background-color 0.3s ease; /* Geçiş efekti */
}

.faq-box:hover {
    background-color: #E0E7FF; /* Hover durumu rengi */
}

.faq-title {
    font-weight: bold; /* Başlık kalın yazı */
    display: flex; /* Flexbox ile hizala */
    justify-content: space-between; /* Boşlukları dengele */
    align-items: center; /* Ortala */
}

.faq-content {
    display: none; /* Başlangıçta gizli */
    padding: 10px 0; /* Yukarıdan ve aşağıdan iç boşluk */
    font-size: 14px; /* Yazı boyutu */
    color: #333; /* Yazı rengi */
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Geçiş efektleri */
    max-height: 0; /* Başlangıç yüksekliği */
    overflow: hidden; /* Taşma gizlendi */
    opacity: 0; /* Saydamlık */
}

.faq-box.active .faq-content {
    display: block; /* Aktif olduğunda göster */
    max-height: 100px; /* İçeriğe göre ayarlanabilir */
    opacity: 1; /* Görünür hale getir */
}

.fa-chevron-down {
    font-size: 20px; /* Ok simgesi boyutu */
    color: #3F51B5; /* Ok rengi */
    transition: transform 0.3s ease; /* Dönüş geçiş efekti */
}

.faq-box.active .fa-chevron-down {
    transform: rotate(180deg); /* Aktif olduğunda döndür */
}
